@model GoFlex.Web.ViewModels.OrderViewModel

@{
    Layout = "_MainLayout";
}

<h2>Your order:</h2>
<table class="table table-bordered col-6">
    <thead>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Order.Items)
    {
        <tr>
            <td>@item.EventPrice.Name</td>
            <td>@item.EventPrice.FormattedPrice</td>
            <td>@item.Quantity</td>
        </tr>
    }
    <tr><td colspan="3">Total price: @Model.Order.TotalPriceFormatted</td></tr>
    </tbody>
</table>
<button class="btn btn-primary" id="checkout-button">Pay</button>

@section Scripts
{
    <script type="text/javascript">
        var stripe = Stripe("@Model.StripePublicKey");
        var checkoutButton = document.getElementById("checkout-button");

        var url = "@Url.Action("Create", "Payment", Model.Order.Id)";
        url = "/api/payment/create/@Model.Order.Id";
        var spinnerDiv = "<div class=\"spinner-grow spinner-grow-sm text-light\"></div>";

        checkoutButton.addEventListener("click",
            function() {
                checkoutButton.innerHTML = spinnerDiv;
                fetch(url,
                        {
                            method: "POST",
                            credentials: "include",
                            redirect: "follow"
                        })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(session) {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    })
                    .then(function(result) {
                        // If redirectToCheckout fails due to a browser or network
                        // error, you should display the localized error message to your
                        // customer using error.message.
                        if (result.error) {
                            alert(result.error.message);
                        }
                    })
                    .catch(function(error) {
                        console.error("Error:", error);
                    });
            });
    </script>
}
